/*Definición de la paleta de colores*/

:root {
    --azuloscuro: #0d2b4b;
    --azulmedio: #35bdca;
    --azulclaro: #edf2f7;
    --grisoscuro: #444444;
    --grismedio: #c5c5c5;
    --grisclaro: #fcfcfd;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.mision {
    display: flex;
    background-color: var(--grisclaro);
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.25rem;
    height: 40vw;
    gap: 8rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.mision_img {
    width: 40%;
    height: 44%;
    border-radius: 20px;
}

.mision_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 20rem;
    width: 50%;
    gap: 2.5rem;
    text-align: justify;
}


/* -------------------- CSS Alejo------------------- */

.equipo {
    margin: 1rem 5%;
}

.equipo__titulo {
    color: var(--azuloscuro);
    margin: 2rem auto;
    text-align: center;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: -0.02rem;
}

.equipo__titulo__info {
    color: #95a1bb;
    margin: 2.7rem auto;
    text-align: center;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
}

.cards {
    justify-content: space-around;
    display: flex;
}

.cards article {
    margin: 0.5rem;
    flex: 1;
    max-width: calc(33.33% - 1rem);
}
.cards article:hover{
    transform: scale(1.1);
}

.cards article img {
    width: 100%;
    height: 55vh;
    flex-shrink: 0;
}

.cards__name {
    color: #363940;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 2.2rem;
    text-transform: uppercase;
}

.cards__rol {
    color: #95a1bb;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.cards__info {
    flex-shrink: 0;
    color: #95a1bb;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.2rem;
}


/* ---------------------- Fin CSS Alejo -------------------------- */


/* ---------------------- NAVBAR -------------------------- */

.navbar-custom {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.logo-navbar {
    width: 27%;
}

.nav-link {
    font-weight: bold;
    color: var(--azuloscuro)!important;
}

.icon-person {
    width: 33px
}

.titulo {
    margin-top: 40px;
}


/* ---------------------- NAVBAR -------------------------- */


/* ---------------------- FORM -------------------------- */

.container {
    background-color: #EDF2F7;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form ul {
    list-style: none;
    padding: 0;
}

form ul li {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

textarea {
    resize: vertical;
    height: 150px;
}

.button-submit {
    background-color: #0d2b4b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
    width: 30%;
}

.button-submit:hover {
    background-color: #0056b3;
}


/* ---------------------- FORM -------------------------- */


/* ----------------------FOOTER -------------------------- */


/* Footer */

.piePagina {
    width: 100%;
    padding: 1% 0;
    background-color: var(--grismedio);
    justify-content: space-around;
    display: flex;
}

.piePagina h2 {
    color: var(--azuloscuro);
    font-weight: bold;
}

.piePagina .infoPiePagina {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 45px auto;
}

.piePagina .infoPiePagina h2 {
    margin-bottom: 25px;
    font-size: 25px;
}

.piePagina .infoPiePagina p {
    margin-bottom: 10px;
}

.piePagina .infoPiePagina .pconocenos a {
    color: var(--grisoscuro);
}

.piePagina .infoPiePagina .psocial a {
    display: inline-block;
    color: var(--azuloscuro);
    padding: 0 2vh;
    line-height: 45px;
    font-size: 40px;
}

.piePagina .infoPiePagina .pcontactanos i {
    display: inline-block;
    padding: 0 1vh;
}

.piePagina .infoPiePagina .pcontactanos p {
    margin-left: 10px;
    font-size: 18px;
}


/* -------------------FIN FOOTER -------------------------- */

@media (max-width: 992px) {
    h1 {
        margin-top: 3rem;
        margin-bottom: 2rem;
        letter-spacing: -1.28px;
        font-size: 2rem;
    }
    .mision {
        padding-left: 3rem;
        padding-right: 3rem;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        gap: 1rem;
        height: 85vw;
        margin-bottom: 1rem;
    }
    .mision_img {
        margin-top: 1rem;
        width: 40%;
        height: 34%;
    }
    .mision_texto {
        align-items: center;
        height: 50%;
        width: 90%;
        gap: 1rem;
        text-align: justify;
        font-size: 0.6rem;
    }
    .revertir {
        display: flex;
        flex-direction: column-reverse;
    }
    /* ---------------CSS responsive de la seccion Sobre Nosotros Alejo ------------- */
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
    }
    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 1rem;
    }
    .equipo {
        margin: 1rem 2rem;
    }
    .equipo__titulo {
        font-size: 3rem;
        margin: 1rem 2rem;
    }
    .equipo__titulo__info {
        font-size: 1rem;
        margin: 1rem 2rem;
    }
    .cards article {
        max-width: 100%;
        margin: 0.5rem;
    }
    /* -------------------Fin CSS responsive Alejo ---------------------------  */
}