/*Definición de la paleta de colores*/

:root {
    --azuloscuro: #0d2b4b;
    --azulmedio: #35bdca;
    --azulclaro: #edf2f7;
    --grisoscuro: #444444;
    --grismedio: #c5c5c5;
    --grisclaro: #fcfcfd;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.titulo__nosotros {
    color: var(--azuloscuro);
    margin: 7rem auto 2rem;
    text-align: center;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: -0.02rem;
}

.mision {
    display: flex;
    background-color: var(--grisclaro);
    justify-content: space-around;
    align-items: center;
    margin: 1rem auto 1rem;
    height: auto;
    gap: 1rem;
    padding: 1rem 3rem;
}

.mision_img {
    width: 40%;
    height: 44%;
    border-radius: 20px;
}

.mision_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 20rem;
    width: 50%;
    gap: 2.5rem;
    text-align: justify;
}


/* -------------------- CSS Alejo------------------- */

.equipo {
    margin: 3rem 5rem;
}

.equipo__titulo {
    color: var(--azuloscuro);
    margin: 2rem auto 1rem;
    text-align: center;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: -0.02rem;
}

.equipo__titulo__info {
    color: #95a1bb;
    margin: 2rem auto;
    text-align: center;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
}

.cards {
    justify-content: space-around;
    display: flex;
    gap: 0.5%;
}

.cards article {
    margin: 0.5rem;
    flex: 1;
    max-width: calc(33.33% - 1rem);
}

.cards article:hover {
    transform: scale(1.1);
}

.cards article img {
    width: 85%;
    height: 75%;
    flex-shrink: 0;
    border-radius: 100%;
}

.cards article p {
    text-align: center;
    margin: 0.2rem;
    margin-left: -3rem;
}

.cards__name {
    color: #363940;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: bolder;
    text-transform: uppercase;
}

.cards__rol {
    color: #95a1bb;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}

.cards__info {
    color: #95a1bb;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
}


/* ---------------------- Fin CSS Alejo -------------------------- */


/* ---------------------- NAVBAR -------------------------- */

.navbar-custom {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.logo-navbar {
    width: 27%;
}

.nav-link {
    font-weight: bold;
    color: var(--azuloscuro)!important;
}

.icon-person {
    width: 33px
}

.titulo {
    margin-top: 40px;
}


/* ---------------------- NAVBAR -------------------------- */


/* ---------------------- FORM -------------------------- */

.formuario__completo {
    /* background: url(../img/Vector.svg) no-repeat center center fixed; */
    /* background-size: cover; */
    /* background-image: url(../img/Vector.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50% 0; */
    width: 100%;
    /* background-color: white; */
    background: linear-gradient(to bottom, #0d2b4b, #35bdca);
    /* Cambia los colores según tus preferencias */
    /* background-color: var(--azulmedio); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 1rem 0;
}

.container {
    /* border: 1px solid red !important; */
    /* background-color: rgba(53, 189, 202, 0.6); */
    /* background-color: var(--azulmedio); */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: auto; */
    padding: 2rem 0;
    /* margin: 2rem auto; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    /* border-radius: 2%; */
}

form ul {
    list-style: none;
    padding: 0;
}

form ul li {
    margin-bottom: 20rem;
}

label {
    /* border: 1px solid red !important; */
    display: block;
    font-weight: bold;
    color: white;
    text-shadow: 0.063rem 0.063rem 0.125rem gray;
    text-align: center;
    width: 25rem;
}

.text-center {
    color: white;
    text-shadow: 1px 1px 2px gray;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
.data__form input {
    width: 25rem;
}

.mensaje__form textarea {
    /* border: 1px solid red !important; */
    width: 51rem;
    /* padding: 0.625rem; */
    /* border-radius: 0.75rem; */
    /* font-size: 1rem; */
    /* background-color: #fff; */
    /* box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1); */
    /* resize: vertical; */
    /* height: 9.375rem; */
    height: 6rem;
}

.button-submit {
    /* border: 1px solid red !important; */
    background-color: var(--azuloscuro);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
    width: 30%;
    margin-top: 0.7rem;
}

.button-submit:hover {
    background-color: #0056b3;
}


/* ---------------------- FORM -------------------------- */


/* ----------------------FOOTER -------------------------- */

.piePaginaContainer {
    max-width: 1570px;
    background-color: var(--azulosuro);
    margin: auto;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.piePagina {
    background-color: var(--azuloscuro);
    padding: 1.5rem 0;
}

.footer-section {
    width: 25%;
    padding: 0 30px;
}

.footer-section h4 {
    font-size: 20px;
    color: var(--grisclaro);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-section h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--azulmedio);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-section ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-section ul p {
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}

.footer-section ul p:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-section ul li a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}

.footer-section ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-section .social-links a {
    display: inline-block;
    height: 60px;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 20px 20px 0;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
    font-size: 30px;
}

.footer-section .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}


/* -------------------FIN FOOTER -------------------------- */

@media (max-width: 992px) {
    h1 {
        margin-top: 3rem;
        margin-bottom: 2rem;
        letter-spacing: -1.28px;
        font-size: 2rem;
    }
    .mision {
        padding-left: 3rem;
        padding-right: 3rem;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        gap: 1rem;
        height: 85vw;
        margin-bottom: 1rem;
    }
    .mision_img {
        margin-top: 1rem;
        margin-bottom: 2rem;
        width: 40%;
        height: 34%;
    }
    .mision_texto {
        align-items: center;
        height: 50%;
        width: 90%;
        gap: 1rem;
        text-align: justify;
        font-size: 0.6rem;
    }
    .revertir {
        display: flex;
        flex-direction: column-reverse;
    }
    /* ---------------CSS responsive de la seccion Sobre Nosotros Alejo ------------- */
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
    }
    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 1rem;
    }
    .equipo {
        margin: 1rem 2rem;
    }
    .equipo__titulo {
        font-size: 3rem;
        margin: 1rem 2rem;
    }
    .equipo__titulo__info {
        font-size: 1rem;
        margin: 1rem 2rem;
    }
    .cards article {
        max-width: 100%;
        margin: 0.5rem;
    }
}


/* -------------------Fin CSS responsive Alejo ---------------------------  */


/* -------------------Responsive Footer Diego ---------------------------  */

@media(max-width:767px) {
    .footer-section {
        width: 50%;
        margin: bottom 30px;
        padding: 30px;
    }
}

@media(max-width:574px) {
    .footer-section {
        width: 100%;
    }
}


/* -------------------Fin Responsive Footer Diego ---------------------------  */