/*Definición de la paleta de colores*/

:root {
    --azuloscuro: #0d2b4b;
    --azulmedio: #35bdca;
    --azulclaro: #edf2f7;
    --grisoscuro: #444444;
    --grismedio: #c5c5c5;
    --grisclaro: #fcfcfd;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


/* ---------------------- NAVBAR -------------------------- */

.navbar-custom {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.logo-navbar {
    width: 27%;
}

.nav-link {
    font-weight: bold;
    color: var(--azuloscuro)!important;
}

.icon-person {
    width: 33px
}

.titulo {
    margin-top: 40px;
}


/* ---------------------- NAVBAR -------------------------- */


/* ----------------------Barra de busqueda---------------------- */

.busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.busqueda input {
    width: 20rem;
    border-radius: 0.25rem;
    text-align: center;
    margin-right: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.busqueda button {
    background-color: var(--azulmedio);
    color: white;
    border: 0.063rem solid var(--azulmedio);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.25rem 0.125rem;
    cursor: pointer;
    border-radius: 0.25rem;
}

.mensaje {
    margin-top: 1rem;
    text-align: center;
    color: var(--azuloscuro);
    font-size: 1.2rem;
}

.mensaje span {
    font-weight: bolder;
    white-space: pre-line;
}


/* ------------------Fin Barra de busqueda---------------------- */


/*Inicio Body*/

.equipo__titulo {
    color: var(--azuloscuro);
    margin: 6.5rem auto 1rem;
    text-align: left;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: -0.02rem;
    padding-left: 11vw;
}

.cards {
    /* border: 1px solid red !important; */
    justify-content: space-between;
    display: grid;
    gap: 1.5%;
    grid-template-columns: repeat(4, 1fr);
    width: 70vw;
    height: auto;
    margin: 0 auto 1rem;
    padding: 1rem 0;
}


.cards article {
    flex: 1;
    border: 0.063 solid #ccc;
    border-radius: 1.25rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.3);
    /* border: 0.5px solid var(--grismedio);
    border-radius: 20px; */
    height: auto;
    margin-bottom: 0.5rem;
}

.cards article:hover {
    transform: scale(1.03);
}

.cards article img {
    object-fit: cover;
    width: 100%;
    height: 31vh;
    flex-shrink: 0;
    border-radius: 20px 20px 0px 0px;
}

.cards p {
    padding: 0 0.6rem;
    margin: 0.4rem 0 0;
    display: flex;
    align-items: center;
    height: auto;
}

.nombre {
    /* border: 1px solid red !important; */
    /* height: 2.5rem; */
    flex-shrink: 0;
    color: var(--azuloscuro);
    font-size: 1rem;
    font-style: normal;
    font-weight: bolder;
}

.especialidad {
    /* border: 1px solid red !important; */
    /* margin: 0 0; */
    /* height: 2.5rem; */
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 700;
    color: var(--grisoscuro);
}

.cards h3 {
    flex-shrink: 0;
    color: var(--azuloscuro);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem;
    padding-left: 0.6rem;
    margin: 0;
}

.center {
    text-align: center;
}

.info-container {
    display: flex;
    align-items: center;
}

.button-cart {
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url("../img/icons8-cart-32.png");
    background-size: 1.875rem 1.875rem;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    margin-left: 10px;}

/* Modal de nuestros mentores */

.modal {
    max-width: 80%;
    margin: auto;
}

#mentorPhoto {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
    padding-bottom: 1.3rem;
}

#mentorModal {
    overflow: hidden;
}

.modal-body {
    overflow: hidden;
    max-height: 80vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.modal-body h3 {
    flex-shrink: 0;
    color: var(--azuloscuro);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem
}

.modal-title {
    color: var(--azuloscuro);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem
}


/* Modal de nuestros mentores */


/* Inicio paginacion */

.pagination {
    /* border: 1px solid red !important; */
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.pagination button {
    background-color: var(--azulmedio);
    color: white;
    border: 0.063rem solid var(--azulmedio);
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.25rem 0.125rem;
    cursor: pointer;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.pagination button.active {
    background-color: var(--azuloscuro);
}


/* Fin paginacion */


/* ----------------------FOOTER -------------------------- */

.piePaginaContainer {
    max-width: 1570px;
    background-color: var(--azulosuro);
    margin: auto;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.piePagina {
    background-color: var(--azuloscuro);
    padding: 1.5rem 0;
}

.footer-section {
    width: 25%;
    padding: 0 30px;
}

.footer-section h4 {
    font-size: 20px;
    color: var(--grisclaro);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-section h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--azulmedio);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-section ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-section ul p {
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}

.footer-section ul p:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-section ul li a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}

.footer-section ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-section .social-links a {
    display: inline-block;
    height: 60px;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 20px 20px 0;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
    font-size: 30px;
}

.footer-section .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}


/* -------------------FIN FOOTER -------------------------- */


/* -------------------Responsive Footer Diego ---------------------------  */

@media (max-width: 767px) {
    .footer-section {
        width: 50%;
        margin-bottom: 30px;
        padding: 30px;
    }
}

@media (max-width: 574px) {
    /* ----------------------Barra de busqueda---------------------- */
    .equipo__titulo {
        margin-top: 7.5rem;
    }
    .busqueda {
        /* border: 1px solid red !important; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 1rem 3rem 0;
        width: 100vw;
        gap: 4%;
        font-size: 1.2rem;
        /* height: auto; */
    }
    .busqueda__responsive {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.6%;
        padding-bottom: 2rem;
    }
    .busqueda input {
        /* border: 1px solid red !important; */
        justify-content: center;
        padding: 0 auto;
        width: 100%;
        height: 2.5rem;
        text-align: center;
        font-size: 1.2rem;
    }
    /* ------------------Fin Barra de busqueda---------------------- */
    /* Adaptacion de las cards a movile */
    .cards {
        /* border: 1px solid red !important; */
        display: grid;
        gap: 0.8%;
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 11rem;
        /* height: auto; */
    }
    .cards article:hover {
        transform: scale(1.03);
    }
    /* Fin Adaptacion de las cards a movile */
    .footer-section {
        width: 100%;
    }
}


/* -------------------Fin Responsive Footer Diego ---------------------------  */