/*Definición de la paleta de colores*/

:root {
    --azuloscuro: #0d2b4b;
    --azulmedio: #35bdca;
    --azulclaro: #edf2f7;
    --grisoscuro: #444444;
    --grismedio: #c5c5c5;
    --grisclaro: #fcfcfd;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}




/* ---------------------- NAVBAR -------------------------- */

.navbar-custom {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.logo-navbar {
    width: 27%;
}

.nav-link {
    font-weight: bold;
    color: var(--azuloscuro)!important;
}

.icon-person {
    width: 33px
}

.titulo {
    margin-top: 40px;
}


/* ---------------------- NAVBAR -------------------------- */

/*Inicio Body*/
.equipo__titulo {
    color: var(--azuloscuro);
    margin: 2rem auto;
    text-align: left;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: -0.02rem;
    padding-left: 11vw;
    padding-top: 3rem;
}

.cards {
    justify-content: space-between;
    display: flex;
    width: 77.5vw;
    margin-left: 10.3vw;
}



.cards article {
    margin: 0.5rem;
    flex: 1;
    max-width: calc(33.33% - 1rem);
    border: var(--grismedio) 0.5px solid;
    border-radius: 20px;
}
.cards article:hover{
    transform: scale(1.1);
}

.cards article img {
    width: 100%;
    height: 35vh;
    flex-shrink: 0;
    border-radius: 20px 20px 0px 0px;
    padding-bottom: 1.3rem;
}

.cards p {
    color: var(--azuloscuro);
    font-size: 1rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 0.5rem; 
    padding-left: 0.6rem;
}

.cards h3 {
    flex-shrink: 0;
    color: var(--azuloscuro);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem;
    padding-left: 0.6rem;
}

/* Footer */

.piePagina {
    width: 100%;
    padding: 1% 0;
    background-color: var(--grismedio);
    justify-content: space-around;
    display: flex;
}

.piePagina h2 {
    color: var(--azuloscuro);
    font-weight: bold;
}

.piePagina .infoPiePagina {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 45px auto;
}

.piePagina .infoPiePagina h2 {
    margin-bottom: 25px;
    font-size: 25px;
}

.piePagina .infoPiePagina p {
    margin-bottom: 10px;
}

.piePagina .infoPiePagina .pconocenos a {
    color: var(--grisoscuro);
}

.piePagina .infoPiePagina .psocial a {
    display: inline-block;
    color: var(--azuloscuro);
    padding: 0 2vh;
    line-height: 45px;
    font-size: 40px;
}

.piePagina .infoPiePagina .pcontactanos i {
    display: inline-block;
    padding: 0 1vh;
}

.piePagina .infoPiePagina .pcontactanos p {
    margin-left: 10px;
    font-size: 18px;
}


/* -------------------FIN FOOTER -------------------------- */