/*Definición de la paleta de colores*/

:root {
    --azuloscuro: #0d2b4b;
    --azulmedio: #35bdca;
    --azulclaro: #edf2f7;
    --grisoscuro: #444444;
    --grismedio: #c5c5c5;
    --grisclaro: #fcfcfd;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


/* ---------------------- NAVBAR -------------------------- */

.navbar-custom {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.logo-navbar {
    width: 27%;
}

.nav-link {
    font-weight: bold;
    color: var(--azuloscuro)!important;
}

.icon-person {
    width: 33px
}

.titulo {
    margin-top: 40px;
}


/* ---------------------- Fin NAVBAR -------------------------- */


/*dividir pantalla*/

.contenedor-principal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: auto;
}

.bienvenida-registro {
    background-color: var(--azulmedio);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10rem 2rem;
}

.bienvenida-registro h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.bienvenida-registro p {
    width: 58.5%;
    text-align: center;
    margin-top: 15%;
    font-size: 1.3rem;
    font-weight: 400;
}

.bienvenida-registro img {
    margin-top: 15vh;
    width: 25vw;
}

.desaparece-pc {
    display: none;
}


/*dividir pantalla*/


/* ---------------------- FORM -------------------------- */

.container {
    background-color: white;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 15vh;
}

form ul {
    list-style: none;
    padding: 0;
}

form ul li {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

textarea {
    resize: vertical;
    height: 150px;
}

.button-submit {
    background-color: #0d2b4b;
    color: #fff;
    border: none;
    padding: 0.5rem 0;
    text-align: center;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
    width: 30%;
}

.button-submit:hover {
    background-color: #0056b3;
}


/* ----------------------  FIN DEL FORM -------------------------- */


/* ----------------------FOOTER -------------------------- */

.piePaginaContainer {
    max-width: 1570px;
    background-color: var(--azulosuro);
    margin: auto;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.piePagina {
    background-color: var(--azuloscuro);
    padding: 1.5rem 0;
}

.footer-section {
    width: 25%;
    padding: 0 30px;
}

.footer-section h4 {
    font-size: 20px;
    color: var(--grisclaro);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-section h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--azulmedio);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-section ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-section ul p {
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}

.footer-section ul p:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-section ul li a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}

.footer-section ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-section .social-links a {
    display: inline-block;
    height: 60px;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 20px 20px 0;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
    font-size: 30px;
}

.footer-section .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}


/* -------------------FIN FOOTER -------------------------- */

@media(max-width:767px) {
    /* -------------------Responsive main Caro ---------------------------  */
    .contenedor-principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin-top: 0;
    }
    .bienvenida-registro {
        background-color: white;
        color: var(--azuloscuro);
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 0;
    }
    .bienvenida-registro h1 {
        width: 70vw;
        margin-top: -3rem;
        font-size: 2rem;
    }
    .bienvenida-registro p {
        margin-top: 2vh;
        width: 70vw;
    }
    .bienvenida-registro img {
        margin-top: 0.5vh;
        width: 10vw;
        margin-bottom: 1rem;
    }
    .container {
        padding-top: 5vh;
        background-color: var(--azulmedio);
        border-radius: 30px;
        margin: 2vh 10vw;
    }
    .desaparece-pc {
        display: flex;
    }
    .desaparece {
        display: none;
    }
    /* -------------------Fin Responsive main Caro ---------------------------  */
    /* -------------------Responsive Footer Diego ---------------------------  */
    .footer-section ul p:hover {
        color: #bbbbbb;
        padding-left: 0;
    }
    .footer-section ul li a:hover {
        color: #bbbbbb;
        padding-left: 0;
    }
    .footer-section .social-links a:hover {
        padding-left: 0;
    }
    /* -------------------Fin Responsive Footer Diego ---------------------------  */
}

@media(max-width:574px) {
    /* --------Navbar-------- */
    .navbar-custom {
        display: flex;
        align-items: center;
    }
    .navbar-custom a {
        position: relative;
        margin-left: 2rem;
    }
    .navbar-custom button {
        position: absolute;
        margin-left: 16rem;
    }
    /* -------------------Responsive Footer Diego ---------------------------  */
    .piePagina {
        height: auto;
        padding: 0;
        margin: 0;
    }
    .footer-section {
        width: 100%;
    }
    .footer-section ul p:hover {
        color: #bbbbbb;
        padding-left: 0;
    }
    .footer-section ul li a:hover {
        color: #bbbbbb;
        padding-left: 0;
    }
    .footer-section .social-links a:hover {
        padding-left: 0;
    }
    /* -------------------Fin Responsive Footer Diego ---------------------------  */
}