:root {
    --azuloscuro: #0d2b4b;
    --azulmedio: #35bdca;
    --azulclaro: #edf2f7;
    --grisoscuro: #444444;
    --grismedio: #c5c5c5;
    --grisclaro: #fcfcfd;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


/* ---------------------- NAVBAR -------------------------- */

.navbar-custom {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.logo-navbar {
    width: 27%;
}

.nav-link {
    font-weight: bold;
    color: var(--azuloscuro)!important;
}

.icon-person {
    width: 33px;
}

.titulo {
    margin-top: 40px;
}


/* ---------------------- NAVBAR -------------------------- */


/* Inicio Body */

.equipo__titulo {
    color: var(--azuloscuro);
    margin: 3rem auto 1rem;
    text-align: left;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: -0.02rem;
    padding-left: 11vw;
    padding-top: 3rem;
}

.cards {
    justify-content: space-between;
    display: grid;
    gap: 2%;
    grid-template-columns: repeat(4, 1fr);
    width: 70vw;
    height: 100%;
    margin: 1rem auto 6rem;
}

.cards article {
    flex: 1;
    border: 0.5px solid var(--grismedio);
    border-radius: 20px;
    height: auto;
}

.cards article:hover {
    transform: scale(1.1);
}

.cards article img {
    object-fit: cover;
    width: 100%;
    height: 35vh;
    flex-shrink: 0;
    border-radius: 20px 20px 0px 0px;
}

.cards h3 {
    flex-shrink: 0;
    color: var(--azuloscuro);
}

.cards p {
    padding: 0 0.6rem;
    margin: 0.5rem 0;
}

.especialidad {
    display: flex;
    align-items: center;
    height: 2.5rem;
    flex-shrink: 0;
    color: var(--azuloscuro);
    font-size: 1rem;
    font-style: normal;
    font-weight: bolder;
}

.creador {
    height: 2.5rem;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 700;
    color: var(--grisoscuro);
}

.descripcion {
    height: 4.5rem;
    font-size: 0.9rem;
    line-height: 1rem;
}

.cards h3 {
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem;
    padding-left: 0.6rem;
}

.center {
    text-align: center;
}

.button-cart {
    border: none;
    width: 40px;
    height: 40px;
    background-image: url('../img/icons8-cart-32.png');
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    display: inline-block;
}


/* Modal de nuestros mentores */

.modal {
    max-width: 80%;
    margin: auto;
}

#mentorPhoto {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
    padding-bottom: 1.3rem;
}

#mentorModal {
    overflow: hidden;
}

.modal-body {
    overflow: hidden;
    max-height: 80vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.modal-body h3,
.modal-title {
    color: var(--azuloscuro);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem;
}


/* ---------------------- FOOTER -------------------------- */

.piePaginaContainer {
    max-width: 1570px;
    background-color: var(--azulosuro);
    margin: auto;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.piePagina {
    background-color: var(--azuloscuro);
    padding: 1.5rem 0;
}

.footer-section {
    width: 25%;
    padding: 0 30px;
}

.footer-section h4 {
    font-size: 20px;
    color: var(--grisclaro);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-section h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--azulmedio);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-section ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-section ul p,
.footer-section ul li a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}

.footer-section ul p:hover,
.footer-section ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-section .social-links a {
    display: inline-block;
    height: 60px;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 20px 20px 0;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
    font-size: 30px;
}

.footer-section .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}


/* ------------------- RESPONSIVE FOOTER DIEGO ---------------------------  */

@media (max-width: 767px) {
    .footer-section {
        width: 50%;
        margin-bottom: 30px;
        padding: 30px;
    }
}

@media (max-width: 574px) {
    .footer-section {
        width: 100%;
    }
}